form {
  background-color: rgb(41, 41, 41);
  margin: auto;
  width: 30vw;
  padding: 16px;
  border-radius: 8px;
}

header {
  color: white;
  text-align: center;
}

hr {
  margin-bottom: 16px;
}

.form-group {
  display: flex;
  gap: 12px;
}

mat-form-field,
button {
  flex: 1;
}
