<form>
  <header>
    <h1>LOG IN</h1>
    <hr />
  </header>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select>
        <mat-option value="admin">Admin</mat-option>
        <mat-option value="manager">Manager</mat-option>
        <mat-option value="user">User</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-group">
    <button mat-raised-button color="primary">Log in</button>
  </div>
</form>
