<table>
  <thead>
    <tr>
      <th colspan="5">Registered Users</th>
    </tr>
  </thead>
  <tbody>
    <tr class="columns">
      <td>Sr.</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email</td>
      <td>Contact number</td>
    </tr>
    <tr *ngFor="let user of users; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.contactNumber }}</td>
    </tr>
  </tbody>
</table>
